<!DOCTYPE HTML>
<html>
<head>
    <title>Homework JS 11-12</title>
    <meta charset="UTF-8">

	 <link rel="stylesheet" href="css/style.css">
	 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
     <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	 <script src="js/jsmicrotmpl.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
     <script src="js/mysliderPlugin.js"></script>
     <script src="js/script.js"></script>

</head>
<body>

    <div class="wrap">
        <div class="carousel-arrow-left"><span>Влево</span></div>
        <div class="carousel-hider">
            <ul class="carousel-list">
                <li class="carousel-element"><img src="img/1.jpg"><p>Описание 1</p></li>
                <li class="carousel-element"><img src="img/2.jpg"><p>Описание 2</p></li>
                <li class="carousel-element"><img src="img/3.jpg"><p>Описание 3</p></li>
                <li class="carousel-element"><img src="img/4.jpg"><p>Описание 4</p></li>
                <li class="carousel-element"><img src="img/1.jpg"><p>Описание 5</p></li>
                <li class="carousel-element"><img src="img/2.jpg"><p>Описание 6</p></li>
                <li class="carousel-element"><img src="img/3.jpg"><p>Описание 7</p></li>
                <li class="carousel-element"><img src="img/4.jpg"><p>Описание 8</p></li>
                <li class="carousel-element"><img src="img/1.jpg"><p>Описание 9</p></li>
                <li class="carousel-element"><img src="img/2.jpg"><p>Описание 10</p></li>
                <li class="carousel-element"><img src="img/3.jpg"><p>Описание 11</p></li>
                <li class="carousel-element"><img src="img/4.jpg"><p>Описание 12</p></li>
            </ul>
        </div>
        <div class="carousel-arrow-right"><span>Вправо</span></div>
    </div>

    <div class="clear"> </div>



    <script type="text/template"   id="my_tmpl">
        <div id='wrapper'>
            <div class='header'>
                <h2><#= name #></h2>
                <p><img src="<#= photo #>" alt="Фото студента"></p>
                <p><#= course #></p>
            </div>

                <div class="content">
                    <p>Хочу учить фронтенд, потому что:</p>
                        <ul>
                            <li><#= reason1 #></li>
                            <li><#= reason2 #></li>
                            <li><#= reason3 #></li>
                        </ul>
                </div>
                <div class="contacts">
                    <div class="tel">
                        <p>Мой контактный телефон:</p>
                        <p><#= mobile #></p>
                    </div>
                    <div>
                        <p>Мой профиль в соцсети:</p>
                        <p><a href="<#= sn_reference #>"><#= sn_reference #></a></p>
                    </div>
                </div>
                <div class="footer">
                    <p>Мой фидбек:</p>
                    <p><#= feedback #></p>
                </div>
        </div>

    </script>



    <script type="text/template" id="list-template">

        <h1>Бонусное задание</h1>
         <div id='wrapper'>
            <div class='header'>
                <h2><%= name %></h2>
                <p><img src="<%= photo %>" alt="Фото студента"></p>
                <p><%= course %></p>
            </div>

                <div class="content">
                    <p>Хочу учить фронтенд, потому что:</p>
                        <ul>
                            <li><%= reason1 %></li>
                            <li><%= reason2 %></li>
                            <li><%= reason3 %></li>
                        </ul>
                </div>
                <div class="contacts">
                    <div class="tel">
                        <p>Мой контактный телефон:</p>
                        <p><%= mobile %></p>
                    </div>
                    <div>
                        <p>Мой профиль в соцсети:</p>
                        <p><a href="<%= sn_reference %>"><%= sn_reference %></a></p>
                    </div>
                </div>
                <div class="footer">
                    <p>Мой фидбек:</p>
                    <p><%= feedback %></p>
                </div>
        </div>

    </script>

</body>
</html>
